{% extends 'index.html' %}

{% block card-title %}
<h5>Página Home</h5>
{% endblock card-title %}

{% block content %}
<div class="text-center m-5">
    <h5>Em manutenção. Enquanto isso, explore as outras abas! 😉</h5>
    <!-- <div class="d-flex justify-content-center pt-2">
      <div class="w-25">
        <ul class="list-group">
          <li class="list-group-item">
              <a href="{% url 'quis.index' %}">Simulados</a>
          </li>
          <li class="list-group-item">
              <a href="{% url 'placas.index' %}">Placas</a>
          </li>
        </ul>
      </div>
    </div> -->
</div>
{% endblock content %}


{% block scripts %}
<script>
    
</script>
{% endblock scripts %}