{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinal de Trânsito</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
</head>
<body class="text-center" style="background-color: #fafafa;">
    <div class="fluid-container d-flex justify-content-between mx-auto flex-column" style="height: 100vh;">
        <header class="">
            <div class="inner">
                <nav class="navbar navbar-expand-lg text-left" style="background: #ed8a00; color: black;">
                    <!-- navbar -->
                    {% include "nav.html" %}
                </nav>
            </div>
        </header>
        <!-- content -->
        <main role="main" class="inner text-left mt-5 mb-5">
            <div class="h-100">
                <div class="d-flex justify-content-center">
                    <div class="card shadow border-0 rounder w-75">
                        <div class="card-body">
                            <div class="card-title">
                                {% block card-title %}{% endblock card-title %}
                            </div>
                            <hr>
                            <div class="card-content">
                                {% block content %}{% endblock content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="text-center text-lg-start bg-light text-muted bg-dark">
            <div class="inner">
                <!-- footer -->
                {% include "footer.html" %}
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>