{% extends 'index.html' %}

{% block content %}
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, error minus? Fugit ex tenetur, natus recusandae, corrupti harum dolor quo iste reiciendis eos quae odio beatae quidem facere, modi magni?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem omnis id iure culpa? Possimus, labore ea numquam ab, accusamus molestiae laudantium quas maiores totam, laborum optio commodi modi laboriosam voluptatem!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate aliquam hic tempore incidunt, corporis laborum illo sequi ea temporibus, distinctio quas maxime ratione! Exercitationem voluptates quibusdam repellendus totam dolorem eos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nulla possimus facilis non ipsum, impedit consectetur velit similique quas illo. Cumque architecto odio, neque vel voluptates dignissimos dolor recusandae perferendis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis saepe officia recusandae cumque exercitationem adipisci necessitatibus atque quisquam eveniet velit qui ullam est voluptatem ea modi, suscipit sed cum!</p>
</div>
{% endblock content %}
    