{% extends 'index.html' %}

{% block card-title %}
Simulado
{% endblock card-title %}

{% block content %}
<style>
    @keyframes fadeIn {
        0% { opacity: 0; margin-left: 20px;}
        100% { opacity: 1; } 
    }
    @keyframes fadeOut {
        0% { opacity: 1; } 
        100% { opacity: 0; margin-left: 20px;}
    }
    .fadeIn {
        animation: fadeIn .8s ease-in-out;
    }
    .fadeOut {
        animation: fadeOut .8s ease-in-out;
    }
</style>
<div>
    
    {% for questao in questoes %}
        <div id="questoes" actual-question="1">
            
            {% if questao.index > 1 %}
                <div class="d-none questao w-100" id="questao-1">
            {% else %}
                <div class="fadeIn questao w-100" id="questao-1">
            {% endif %}
                <p><strong>Questão {{ questao.index }}</strong></p>
                <p>
                    {{ questao.pergunta.enunciado }}
                </p>
                <div>
                    {% for altern in questao.alternativas %}
                        <p>
                            <input type="radio" name="qst-{{questao.index}}" id="">
                            <label for="">{{ altern.conteudo }}</label>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
        
    
    <div class="text-right">
        <button type="button" id="btn-voltar" class="btn btn-danger d-none">Voltar</button>
        <button type="button" id="btn-pular" class="btn btn-secondary disabled ml-2">Pular</button>
        <button type="button" id="btn-responder" class="btn btn-primary ml-2">Responder</button>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    const btnResponder = document.getElementById('btn-responder')
    const btnVoltar = document.getElementById('btn-voltar')
    const divQuestoes = document.getElementById('questoes')
    btnResponder.addEventListener("click", () => {
        const indexQuest = Number.parseInt(divQuestoes.getAttribute('actual-question'))
        const questoes = Array.from(document.getElementsByClassName('questao'))
        const indexNextQuest = indexQuest==questoes.length ? 1 : indexQuest+1
        questoes.forEach((quest, idx) => {
            if (indexQuest-1 == idx) {
                quest.classList.remove('fadeIn')
                quest.classList.add('fadeOut')
                setTimeout(() => {
                    quest.classList.add('d-none')
                    quest.classList.remove('fadeOut')
                }, 795)
            }
        })
        const nextQuest = questoes[indexNextQuest-1]
        setTimeout(() => {
            nextQuest.classList.remove('d-none')
            nextQuest.classList.add('fadeIn')
            if (indexNextQuest==1) {
                btnVoltar.classList.remove('fadeIn')
                btnVoltar.classList.add('fadeOut')
                setTimeout(()=>{
                    btnVoltar.classList.add('d-none')
                }, 795)
            } else if(btnVoltar.classList.contains('d-none')) {
                btnVoltar.classList.remove('d-none')
                btnVoltar.classList.remove('fadeOut')
                btnVoltar.classList.add('fadeIn')
            }
        }, 795)

        divQuestoes.setAttribute('actual-question', `${indexNextQuest}`)
    })
    btnVoltar.addEventListener("click", () => {
        const indexQuest = Number.parseInt(divQuestoes.getAttribute('actual-question'))
        const questoes = Array.from(document.getElementsByClassName('questao'))
        const indexPrevQuest = indexQuest==1 ? questoes.length : indexQuest-1
        questoes.forEach((quest, idx) => {
            if (indexQuest-1 == idx) {
                quest.classList.remove('fadeIn')
                quest.classList.add('fadeOut')
                setTimeout(() => {
                    quest.classList.add('d-none')
                    quest.classList.remove('fadeOut')
                }, 795)
            }
        })
        const prevQuest = questoes[indexPrevQuest-1]
        setTimeout(() => {
            prevQuest.classList.remove('d-none')
            prevQuest.classList.add('fadeIn')
            if (indexPrevQuest==1) {
                btnVoltar.classList.remove('fadeIn')
                btnVoltar.classList.add('fadeOut')
                setTimeout(()=>{
                    btnVoltar.classList.add('d-none')
                }, 795)
            } else if(btnVoltar.classList.contains('d-none')) {
                btnVoltar.classList.remove('d-none')
                btnVoltar.classList.remove('fadeOut')
                btnVoltar.classList.add('fadeIn')
            }
        }, 795)

        divQuestoes.setAttribute('actual-question', `${indexPrevQuest}`)
        
    })
</script>
{% endblock scripts %}
    