{% extends 'index.html' %}

{% block card-title %}
<div class="d-flex justify-content-between">
    <h5>Resultado</h5>
    <a href="#" class="text" id="ver-resultado">Ver resultado</a>
</div>
{% endblock card-title %}

{% block content %}
<style>
    @keyframes fadeIn {
        0% { opacity: 0; margin-start: 20px;}
        100% { opacity: 1; } 
    }
    @keyframes fadeOut {
        0% { opacity: 1; } 
        100% { opacity: 0; margin-start: 20px;}
    }
    .fadeIn {
        animation: fadeIn .8s ease-in-out;
    }
    .fadeOut {
        animation: fadeOut .8s ease-in-out;
    }
</style>
<div>
    <div id="container-questoes" actual-question="1" type-view="a"> <!-- a / all -->
        <div class="fadeIn questao w-100 pt-2 pb-2" id="questao-0">
            <div class="row">
                <div class="col">
                    <p><span class="text-success"><i class="fas fa-check-circle"></i> {{ resultado.certas }} corretas</span></p>
                    <p><span class="text-danger"><i class="fas fa-times-circle"></i> {{ resultado.erradas }} erradas</span></p>
                </div>
                <div class="col">
                    <span class="d-flex {% if resultado.porcento >= 70 %}text-success{% else %}text-danger{% endif %}">
                        <h1>{{ resultado.porcento }}</h1>%
                    </span>
                </div>
            </div>
            <hr>
        </div>
        {% for item in gabarito %}
            <div class="d-none questao w-100" id="questao-1">
                <p><strong>Questão {{ item.index }}</strong></p>
                <p>
                    {{ item.pergunta }}
                </p>
                <div>
                    <p>
                        
                        {% if item.check %}
                            <span class="text-success"><i class="fas fa-check"></i> {{ item.alternativa }}</span>
                        {% else %}
                            <span class="text-danger"><i class="fas fa-times"></i> {{ item.alternativa }}</span>
                        {% endif %}
                            
                    </p>
                    <p>
                        <span class="text-success"><i class="fas fa-check"></i> {{ item.alter_certa }}</span>
                    </p>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
    <div class="text-end">
        <button type="button" id="btn-visualizar" class="btn btn-warning text-white shadow">Ver todas</button>
        <button type="button" id="btn-voltar" class="btn btn-danger d-none ms-2 shadow">Voltar</button>
        <button type="button" id="btn-responder" class="btn btn-primary ms-2 shadow">Próxima</button>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    const btnResponder = document.getElementById('btn-responder')
    const btnVoltar = document.getElementById('btn-voltar')
    const btnVisualizar = document.getElementById('btn-visualizar')
    const divQuestoes = document.getElementById('container-questoes')
    const verResultado = document.getElementById('ver-resultado')
    btnResponder.addEventListener("click", () => {
        const indexQuest = Number.parseInt(divQuestoes.getAttribute('actual-question'))
        const questoes = Array.from(document.getElementsByClassName('questao'))
        const indexNextQuest = indexQuest==questoes.length ? 1 : indexQuest+1
        questoes.forEach((quest, idx) => {
            if (indexQuest-1 == idx) {
                quest.classList.remove('fadeIn')
                quest.classList.add('fadeOut')
                setTimeout(() => {
                    quest.classList.add('d-none')
                    quest.classList.remove('fadeOut')
                }, 795)
            }
        })
        const nextQuest = questoes[indexNextQuest-1]
        setTimeout(() => {
            nextQuest.classList.remove('d-none')
            nextQuest.classList.add('fadeIn')
            if (indexNextQuest==1) {
                btnVoltar.classList.remove('fadeIn')
                btnVoltar.classList.add('fadeOut')
                setTimeout(()=>{
                    btnVoltar.classList.add('d-none')
                }, 795)
            } else if(btnVoltar.classList.contains('d-none')) {
                btnVoltar.classList.remove('d-none')
                btnVoltar.classList.remove('fadeOut')
                btnVoltar.classList.add('fadeIn')
            }
        }, 795)

        divQuestoes.setAttribute('actual-question', `${indexNextQuest}`)
    })
    btnVoltar.addEventListener("click", () => {
        const indexQuest = Number.parseInt(divQuestoes.getAttribute('actual-question'))
        const questoes = Array.from(document.getElementsByClassName('questao'))
        const indexPrevQuest = indexQuest==1 ? questoes.length : indexQuest-1
        questoes.forEach((quest, idx) => {
            if (indexQuest-1 == idx) {
                quest.classList.remove('fadeIn')
                quest.classList.add('fadeOut')
                setTimeout(() => {
                    quest.classList.add('d-none')
                    quest.classList.remove('fadeOut')
                }, 795)
            }
        })
        const prevQuest = questoes[indexPrevQuest-1]
        setTimeout(() => {
            prevQuest.classList.remove('d-none')
            prevQuest.classList.add('fadeIn')
            if (indexPrevQuest==1) {
                btnVoltar.classList.remove('fadeIn')
                btnVoltar.classList.add('fadeOut')
                setTimeout(()=>{
                    btnVoltar.classList.add('d-none')
                }, 795)
            } else if(btnVoltar.classList.contains('d-none')) {
                btnVoltar.classList.remove('d-none')
                btnVoltar.classList.remove('fadeOut')
                btnVoltar.classList.add('fadeIn')
            }
        }, 795)

        divQuestoes.setAttribute('actual-question', `${indexPrevQuest}`)
    })
    btnVisualizar.addEventListener('click', () => {
        tipoVisu = divQuestoes.getAttribute('type-view')
        const questoes = Array.from(document.getElementsByClassName('questao'))
        const indexQuest = Number.parseInt(divQuestoes.getAttribute('actual-question'))
        const indexNextQuest = indexQuest==questoes.length ? 1 : indexQuest+1
        if (tipoVisu == "a") {
            divQuestoes.setAttribute('type-view', 'all')
            btnResponder.classList.add('d-none')
            btnVisualizar.innerText = "Ver uma"
            if(!btnVoltar.classList.contains('d-none')) btnVoltar.classList.add('d-none')
            questoes.forEach(qst => {
                if(qst.classList.contains('d-none')) qst.classList.remove('d-none')
                if(qst.classList.contains('fadeIn')) qst.classList.remove('fadeIn')
                if(qst.classList.contains('fadeOut')) qst.classList.remove('fadeOut')
            })
        } else if (tipoVisu == "all") {
            divQuestoes.setAttribute('type-view', 'a')
            btnVisualizar.innerText = "Ver todas"
            btnResponder.classList.remove('d-none')
            btnResponder.classList.add('fadeIn')
            questoes.forEach((qst, idx) => {
                qst.classList.add('d-none')
            })
            
            questoes[Number.parseInt(indexQuest-1)].classList.remove('d-none')
            questoes[Number.parseInt(indexQuest-1)].classList.add('fadeIn')
            if(btnVoltar.classList.contains('d-none') && indexQuest > 1) {
                btnVoltar.classList.remove('d-none')
                btnVoltar.classList.remove('fadeOut')
                btnVoltar.classList.add('fadeIn')
            }
        }
    })
    verResultado.addEventListener('click', function(event){
        event.preventDefault()
        divQuestoes.setAttribute('actual-question', '1')
        btnVisualizar.innerText = "Ver todas"
        if (btnResponder.classList.contains('d-none')) btnResponder.classList.remove('d-none')
        if (!btnVoltar.classList.contains('d-none')){
            btnVoltar.classList.add('fadeOut')
            setTimeout(() => {
                btnVoltar.classList.add('d-none')
            }, 795)
        }
        const questoes = Array.from(document.getElementsByClassName('questao'))
        questoes.forEach(qst => {
            qst.classList.add('d-none')
        })
        questoes[0].classList.remove('d-none')
        questoes[0].classList.add('fadeIn')
    })
</script>
{% endblock scripts %}