{% extends 'index.html' %}

{% block card-title %}

{% endblock card-title %}

{% block content %}
<div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="h-100 p-4 d-flex justify-content-around align-items-center">
                <img src="../../static/image/placas/regulamentacao/00-parada-obrigatoria.png" style="max-width: 100px;" class="card-img-top">
                <span class="w-50"><strong>Parada obrigatória</strong></span>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block scripts %}

{% endblock scripts %}